* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
   /* scroll-snap-type: y mandatory; */
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 0;
    display: flex;
    width: 100%;
    height: 60px;
    background:rgba(36, 36, 36, 0.95);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar a {
    text-decoration: underline;
    text-decoration-color: rgb(255, 0, 119) ;
    text-transform: uppercase;
    color: white;
}

.navbar a:hover {
    color: rgb(255, 0, 119);
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar ul li a:hover {
    color: rgb(255, 0, 119);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: -1;
   /* scroll-snap-align: center; */
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

/* Section Images */
section#history {
    background: url('img/particle.png') no-repeat center center/cover;;
}
  
section#education {
    background: url('img/circs.png') no-repeat center center/cover;;
    background
}
  
section#experience {
    background: url('img/space.png') no-repeat center center/cover;;
}
  
section#summary {
    background: url('img/geo.png') no-repeat center center/cover;;
}
  