:root {
    --primary-color: rgba(27, 27, 27, 0.75);
    --overlay-color: rgba(32, 28, 31, 0.85);
    --menu-speed: 0.75s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

.container {
    max-width: 960px;
    margin: auto;
    white-space: wrap;
    padding: 0 3rem;
}

.showcase {
    background-color: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

.showcase:before {
    content: '';
    background-color: rgb(71, 71, 71);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    padding: 5vh; 
    align-items: center;    
    justify-content: center;
    text-align: center;
    height: 100%;
    opacity: 1;
    transition: opacity 1s ease-in;
}

.showcase h1 {
    font-size: 4rem;
    color: rgba(255, 3, 129, 0.75);
}

.showcase p {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: underline;
    text-decoration-color: rgba(255, 3, 129, 0.75);
    transition: opacity 0.5s ease-in;
}

.btn:hover {
    opacity: 0.7;
}

.social-menu ul {
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fa {
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color:rgba(255, 3, 129, 0.75);
}

.social-menu ul li .fa:hover {
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:  rgba(27, 27, 27, 0.75);
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px  rgba(27, 27, 27, 0.75);
}

.social-menu ul li a:hover {
    transform: translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #0077B5;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #3b3b3b;
}